<h4>OOPs Concept</h4>

In [82]:
#class is a keyword
#pass is a placeholder

In [83]:
class Class_name:
    pass
class_obj=Class_name()

In [84]:
class Student:
    pass
student1=Student()

In [85]:
class Student:
    student_name="disha"
    classes="third year"
    roll_number=224455
student_obj=Student()

In [86]:
print(student_obj.student_name)

disha

In [87]:
class College:
    student_name="disha"
    student_roll=33
    student_class="third year"
    def display(self):
        print(f"student name is {self.student_name}, roll number is {self.student_roll}, class is {self.student_class}")
        print(self.student_name)
clg=College()

In [88]:
clg.student_class

'third year'

In [89]:
clg.display()

student name is disha, roll number is 33, class is third year
disha

<h4>Inheritance</h4>

| *Type of Inheritance*      | *Description*                                                                       | *Diagram Example*        |
| ---------------------------- | ------------------------------------------------------------------------------------- | -------------------------- |
| *Single Inheritance*       | A child class inherits from a single parent class.                                    | A → B                    |
| *Multiple Inheritance*     | A child class inherits from more than one parent class.                               | A → C ← B                |
| *Multilevel Inheritance*   | A child class inherits from a parent class, which itself inherits from another class. | A → B → C                |
| *Hierarchical Inheritance* | Multiple child classes inherit from the same parent class.                            | ` A → B`<br>` A → C`       |
| *Hybrid Inheritance*       | A combination of two or more types of inheritance.                                    | Combination of above forms |

In [90]:
class College:
    student_fee=100000
class Student(College):
    student_name="disha"
    student_roll=21
st_obj=Student()

In [91]:
st_obj.student_fee

100000

In [92]:
class College:
    college_fee=1000000
class Hostel:
    hostel_fee=50000
class Student(College,Hostel):
    student_name="disha"
    student_id=33
obj=Student()

In [93]:
obj.college_fee

1000000

In [94]:
obj.hostel_fee

50000

In [95]:
class Father:
    def skill(self):
        print("programmer")
        
class Mother:
    def occupation(self):
        print("teacher")
class Child(Father,Mother):
    def display(self):
        print("my name is disha")
        
obj=Child()

In [96]:
obj.skill()

programmer

In [97]:
obj.occupation()

teacher

In [98]:
class Grand_Father:
    def skill(self):
        print("programmer")
        
class Father(Grand_Father):
    def occupation(self):
        print(" programmer and teacher")
class Child(Father):
    def display(self):
        print("my name is disha")
        
obj=Child()

In [99]:
obj.occupation()

 programmer and teacher

In [100]:
class College:
    college_name="GWECA" #public variable
    _placements="70 percent"  #protected variable
    __salary=150000  #private variable
    def display(self):
        print(f"college name is {self.college_name}")
clg=College()

In [101]:
clg.college_name

'GWECA'

In [102]:
clg._placements

'70 percent'

In [103]:
clg.__salary

AttributeError: 'College' object has no attribute '__salary'

In [ ]:
clg.display()

college name is GWECA

In [ ]:
clg._College__salary  #way to access private variable  object_name._Class_name__variable_name

150000

<h4>Polymorphism</h4>

In [119]:
class Father:
    def work(self):
        print("Father goes to office")

class Mother:
    def work(self):
        print("Mother works at home")
        
f = Father()
m = Mother()


f.work()   
m.work()

Father goes to office
Mother works at home

In [118]:
class Addition:
    def add(self,a=0,b=0,c=0):
        print("Result:",a+b+c)

obj=Addition()        
obj.add(2,3,4)

Result: 9

In [ ]:
obj.add(1,3)

Result: 4

In [117]:
class Father:
    def work(self):
        print("Father is a teacher")

class Son(Father):
    def work(self):  
        print("Son is a software developer")


f = Father()
s = Son()

f.work()  
s.work()

Father is a teacher
Son is a software developer